<!-- src/components/ui/PatternBackground.astro -->
<div class="fixed inset-0 -z-10 min-h-screen w-full 
  bg-white dark:bg-[#050505]
  bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] 
  dark:bg-[linear-gradient(to_right,#7776ff0d_1px,transparent_1px),linear-gradient(to_bottom,#7776ff0d_1px,transparent_1px)]
  bg-[size:14px_24px]"></div>